{%- block stripe_widget -%}
  {# extra wrapper for expected fieldset markup #}
  <div>
    {{ form_widget(form.token) }}
    {{ form_widget(form.last4) }}
    <div id="{{ form.vars.id }}_card"></div>
    <div id="{{ form.vars.id }}_error" class="invalid-feedback d-block">&nbsp;</div>
  </div>

  <script>
    window.addEventListener('load', function() {
      const stripe = Stripe('{{ publishable_key }}');

      const card = stripe.elements().create('card', {{ options|raw }});

      card.mount('#{{ form.vars.id }}_card');

      const token = document.getElementById('{{ form.token.vars.id }}');
      const last4 = document.getElementById('{{ form.last4.vars.id }}');

      const error = document.getElementById('{{ form.vars.id }}_error');

      const form = token.form;

      function getCardData() {
        const names = form.querySelectorAll('[data-stripe-name]');

        const inputs = {
          'address_line1': form.querySelector('[data-stripe-address-line-1]'),
          'address_line2': form.querySelector('[data-stripe-address-line-2]'),
          'address_city': form.querySelector('[data-stripe-city]'),
          'address_state': form.querySelector('[data-stripe-state]'),
          'address_zip': form.querySelector('[data-stripe-zip]'),
          'address_country': form.querySelector('[data-stripe-country]'),
        };

        const data = {};

        let name = [];

        names.forEach((input) => {
          if (input.value) {
            name.push(input.value);
          }
        });

        if (name.length) {
          data.name = name.join(' ');
        }

        for (let key in inputs) {
          const input = inputs[key];

          if (input && input.value) {
            data[key] = input.value;
          }
        }

        return data;
      }

      function createToken() {
        stripe.createToken(card, getCardData()).then(function(result) {
          if (result.error) {
            token.value = '';
            last4.value = '';

            error.textContent = result.error.message;
          }
          else {
            token.value = result.token.id;
            last4.value = result.token.card.last4;

            error.innerHTML = '&nbsp;';
          }
        });
      };

      card.addEventListener('blur', function(e) {
        if (e.error) {
          error.textContent = e.error.message;
        }
        else {
          error.innerHTML = '&nbsp;';

          createToken();
        }
      });
    });
  </script>
{%- endblock -%}
