{%- block stripe_widget -%}
  <div id="{{ form.vars.id }}">
    {{ form_widget(form.token) }}
    {{ form_widget(form.last4) }}
    <div id="{{ form.vars.id }}_card"></div>
    <div id="{{ form.vars.id }}_error" class="invalid-feedback d-block">&nbsp;</div>
  </div>
{%- endblock -%}
